<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<variable name="logsFolder" value="${basedir}\Logs"/>
	<variable name="defaultLayout" value="${longdate} | ${level:upperCase=true} | ${logger} | ${message}"/>
	<variable name="consoleLayout" value="${message}"/>
	<targets>
		<target name="levelFile" xsi:type="File" layout="${defaultLayout}" fileName="${logsFolder}/${level}.${date:format=yyyyMMdd}.log" archiveAboveSize="5242880" archiveFileName="${logsFolder}/${level}.archive.${date:format=yyyyMMdd.HH-mm-ss}.log" maxArchiveFiles="5" />
		<target name="allFile" xsi:type="File" layout="${defaultLayout}" fileName="${logsFolder}/All.${date:format=yyyyMMdd}.log" archiveAboveSize="5242880" archiveFileName="${logsFolder}/All.archive.${date:format=yyyyMMdd.HH-mm-ss}.log" maxArchiveFiles="5" />
		<target name="console" xsi:type="ColoredConsole" layout="${consoleLayout}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="levelFile, console, allFile" />
	</rules>
</nlog>