<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="environment" value="development" />
		<add key="database" value="server=.;database=Affixx;integrated security=True;" />
<!--
    <add key="environment" value="beta" />
  <add key="database" value="server=SQL5027.Smarterasp.net;database=DB_9E594F_beta;user=DB_9E594F_beta_admin;password=db_9e594f_beta;" />
-->
	</appSettings>
</configuration>